body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:922px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6183 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:720px;
}
#u6184 {
  position:absolute;
  left:20px;
  top:93px;
  width:410px;
  height:720px;
}
#u6185 {
  position:absolute;
  left:2px;
  top:352px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6186 {
  position:absolute;
  left:280px;
  top:173px;
  width:120px;
  height:30px;
}
#u6187 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6188 {
  position:absolute;
  left:280px;
  top:345px;
  width:120px;
  height:30px;
}
#u6189 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6190 {
  position:absolute;
  left:270px;
  top:523px;
  width:120px;
  height:30px;
}
#u6191 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:339px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6192 {
  position:absolute;
  left:502px;
  top:844px;
  width:312px;
  height:339px;
}
#u6193 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u6194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6194 {
  position:absolute;
  left:351px;
  top:301px;
  width:62px;
  height:16px;
  color:#FFFFFF;
}
#u6195 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u6196_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:43px;
  height:47px;
}
#u6196 {
  position:absolute;
  left:33px;
  top:101px;
  width:39px;
  height:43px;
  font-size:20px;
  color:#FFFFFF;
}
#u6197 {
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  word-wrap:break-word;
}
#u6198_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:43px;
  height:47px;
}
#u6198 {
  position:absolute;
  left:206px;
  top:93px;
  width:39px;
  height:43px;
  font-size:20px;
  color:#FFFFFF;
}
#u6199 {
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  word-wrap:break-word;
}
#u6200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:42px;
  background:inherit;
  background-color:rgba(62, 163, 236, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u6200 {
  position:absolute;
  left:20px;
  top:23px;
  width:420px;
  height:42px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u6201 {
  position:absolute;
  left:2px;
  top:6px;
  width:416px;
  word-wrap:break-word;
}
#u6202_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:43px;
  height:47px;
}
#u6202 {
  position:absolute;
  left:161px;
  top:160px;
  width:39px;
  height:43px;
  font-size:20px;
  color:#FFFFFF;
}
#u6203 {
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  word-wrap:break-word;
}
#u6204_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:43px;
  height:47px;
}
#u6204 {
  position:absolute;
  left:20px;
  top:154px;
  width:39px;
  height:43px;
  font-size:20px;
  color:#FFFFFF;
}
#u6205 {
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  word-wrap:break-word;
}
#u6206_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:43px;
  height:47px;
}
#u6206 {
  position:absolute;
  left:20px;
  top:207px;
  width:39px;
  height:43px;
  font-size:20px;
  color:#FFFFFF;
}
#u6207 {
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  word-wrap:break-word;
}
#u6208_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:43px;
  height:47px;
}
#u6208 {
  position:absolute;
  left:235px;
  top:232px;
  width:39px;
  height:43px;
  font-size:20px;
  color:#FFFFFF;
}
#u6209 {
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  word-wrap:break-word;
}
#u6210_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:43px;
  height:47px;
}
#u6210 {
  position:absolute;
  left:351px;
  top:238px;
  width:39px;
  height:43px;
  font-size:20px;
  color:#FFFFFF;
}
#u6211 {
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  word-wrap:break-word;
}
#u6212_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:43px;
  height:47px;
}
#u6212 {
  position:absolute;
  left:20px;
  top:686px;
  width:39px;
  height:43px;
  font-size:20px;
  color:#FFFFFF;
}
#u6213 {
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  word-wrap:break-word;
}
#u6214_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:43px;
  height:47px;
}
#u6214 {
  position:absolute;
  left:188px;
  top:686px;
  width:39px;
  height:43px;
  font-size:20px;
  color:#FFFFFF;
}
#u6215 {
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  word-wrap:break-word;
}
#u6216_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:43px;
  height:47px;
}
#u6216 {
  position:absolute;
  left:368px;
  top:686px;
  width:39px;
  height:43px;
  font-size:20px;
  color:#FFFFFF;
}
#u6217 {
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  word-wrap:break-word;
}
#u6218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:51px;
}
#u6218 {
  position:absolute;
  left:49px;
  top:844px;
  width:391px;
  height:51px;
  font-family:'.萍方-简 Regular', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 204, 0.67843137254902);
}
#u6219 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
#u6220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6220 {
  position:absolute;
  left:20px;
  top:840px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u6221 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u6222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:17px;
}
#u6222 {
  position:absolute;
  left:49px;
  top:896px;
  width:391px;
  height:17px;
  font-family:'.萍方-简 Regular', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 204, 0.67843137254902);
}
#u6223 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
#u6224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6224 {
  position:absolute;
  left:20px;
  top:892px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u6225 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u6226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:85px;
}
#u6226 {
  position:absolute;
  left:49px;
  top:930px;
  width:391px;
  height:85px;
  font-family:'.萍方-简 Regular', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 204, 0.67843137254902);
}
#u6227 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
#u6228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6228 {
  position:absolute;
  left:20px;
  top:926px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u6229 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u6230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:51px;
}
#u6230 {
  position:absolute;
  left:49px;
  top:1039px;
  width:391px;
  height:51px;
  font-family:'.萍方-简 Regular', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 204, 0.67843137254902);
}
#u6231 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
#u6232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6232 {
  position:absolute;
  left:20px;
  top:1035px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u6233 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u6234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:17px;
}
#u6234 {
  position:absolute;
  left:49px;
  top:1101px;
  width:391px;
  height:17px;
  font-family:'.萍方-简 Regular', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 204, 0.67843137254902);
}
#u6235 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
#u6236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6236 {
  position:absolute;
  left:20px;
  top:1097px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u6237 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u6238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:34px;
}
#u6238 {
  position:absolute;
  left:49px;
  top:1143px;
  width:391px;
  height:34px;
  font-family:'.萍方-简 Regular', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 204, 0.67843137254902);
}
#u6239 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
#u6240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6240 {
  position:absolute;
  left:20px;
  top:1139px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u6241 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u6242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:153px;
}
#u6242 {
  position:absolute;
  left:49px;
  top:1201px;
  width:391px;
  height:153px;
  font-family:'.萍方-简 Regular', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 204, 0.67843137254902);
}
#u6243 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
#u6244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6244 {
  position:absolute;
  left:20px;
  top:1197px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u6245 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u6246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6246 {
  position:absolute;
  left:20px;
  top:1373px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u6247 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u6248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:204px;
}
#u6248 {
  position:absolute;
  left:49px;
  top:1373px;
  width:391px;
  height:204px;
  font-family:'.萍方-简 Regular', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 204, 0.67843137254902);
}
#u6249 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
#u6250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:34px;
}
#u6250 {
  position:absolute;
  left:49px;
  top:1597px;
  width:391px;
  height:34px;
  font-family:'.萍方-简 Regular', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 204, 0.67843137254902);
}
#u6251 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
#u6252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6252 {
  position:absolute;
  left:20px;
  top:1593px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u6253 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u6254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:85px;
}
#u6254 {
  position:absolute;
  left:49px;
  top:1651px;
  width:391px;
  height:85px;
  font-family:'.萍方-简 Regular', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 204, 0.67843137254902);
}
#u6255 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
#u6256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6256 {
  position:absolute;
  left:20px;
  top:1647px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u6257 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u6258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:34px;
}
#u6258 {
  position:absolute;
  left:49px;
  top:1750px;
  width:391px;
  height:34px;
  font-family:'.萍方-简 Regular', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 204, 0.67843137254902);
}
#u6259 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
#u6260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6260 {
  position:absolute;
  left:20px;
  top:1746px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u6261 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u6262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:136px;
}
#u6262 {
  position:absolute;
  left:49px;
  top:1808px;
  width:391px;
  height:136px;
  font-family:'.萍方-简 Regular', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 204, 0.67843137254902);
}
#u6263 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
#u6264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6264 {
  position:absolute;
  left:20px;
  top:1804px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u6265 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:51px;
}
#u6266 {
  position:absolute;
  left:49px;
  top:1971px;
  width:391px;
  height:51px;
  font-family:'.萍方-简 Regular', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 204, 0.67843137254902);
}
#u6267 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
#u6268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6268 {
  position:absolute;
  left:20px;
  top:1967px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u6269 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6270 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 56, 79, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6271 {
  position:absolute;
  left:373px;
  top:127px;
  width:47px;
  height:27px;
}
#u6272 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u6273 {
  position:absolute;
  left:388px;
  top:131px;
  width:17px;
  height:18px;
}
#u6274 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6275_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:43px;
  height:47px;
}
#u6275 {
  position:absolute;
  left:377px;
  top:88px;
  width:39px;
  height:43px;
  font-size:20px;
  color:#FFFFFF;
}
#u6276 {
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  word-wrap:break-word;
}
#u6277 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:720px;
}
#u6278 {
  position:absolute;
  left:502px;
  top:95px;
  width:410px;
  height:720px;
}
#u6279 {
  position:absolute;
  left:2px;
  top:352px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6280 {
  position:absolute;
  left:762px;
  top:175px;
  width:120px;
  height:30px;
}
#u6281 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6282 {
  position:absolute;
  left:762px;
  top:347px;
  width:120px;
  height:30px;
}
#u6283 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6284 {
  position:absolute;
  left:752px;
  top:525px;
  width:120px;
  height:30px;
}
#u6285 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6286 {
  position:absolute;
  left:833px;
  top:303px;
  width:62px;
  height:16px;
  color:#FFFFFF;
}
#u6287 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u6288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:42px;
  background:inherit;
  background-color:rgba(62, 163, 236, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u6288 {
  position:absolute;
  left:502px;
  top:25px;
  width:420px;
  height:42px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u6289 {
  position:absolute;
  left:2px;
  top:6px;
  width:416px;
  word-wrap:break-word;
}
#u6290 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 56, 79, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6291 {
  position:absolute;
  left:855px;
  top:129px;
  width:47px;
  height:27px;
}
#u6292 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u6293 {
  position:absolute;
  left:870px;
  top:133px;
  width:17px;
  height:18px;
}
#u6294 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:101px;
}
#u6295 {
  position:absolute;
  left:471px;
  top:226px;
  width:366px;
  height:101px;
}
#u6296 {
  position:absolute;
  left:2px;
  top:42px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6297 {
  position:absolute;
  left:834px;
  top:226px;
  width:69px;
  height:101px;
  color:#FFFFFF;
}
#u6298 {
  position:absolute;
  left:2px;
  top:42px;
  width:65px;
  word-wrap:break-word;
}
